*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(165, 42, 42, 0.541);
}

#principal-container{
    width: 95%;
    max-width:1000px ;
    margin: 0 auto;
}

header{
    background-color: crimson;
    margin: 20px 0;
}

header h1{
    padding: 20px 0;
    text-align: center;
}
.container{
    background-color: darkorange;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

.container-result{
    background-color: darkgoldenrod;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

#Button-comp{
padding: 10px;
color:white;
background-color: red;
}

@media screen and (max-width: 800px) {
    body{
        background-color: black;
    }
}